@font-face {
    src: url('../fonts/Montserrat-Thin.ttf');
    font-family: 'texto-thin';
}
@font-face {
    src: url('../fonts/Montserrat-Regular.ttf');
    font-family: 'texto-regular';
}
@font-face {
    src: url('../fonts/Montserrat-Medium.ttf');
    font-family: 'texto-medium';
}

$texto-regular: 'texto-regular';
$texto-thin: 'texto-thin';
$texto-medium: 'texto-medium';
