.contato {
    height: auto;
    padding: 6rem 0;
    background-color: $preto;
    color: $branco;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    .contact__title {
        font-family: $texto-medium;
        font-size: 3rem;
        position: relative;
        &:before {
            @include titulo-understyle;
            background-color: $amarelo;
        }
    }
    .contact__intro__text {
        font-size: 1.3rem;
        line-height: 1.5;
    }
    .contact__container {
        width: 100%;
        display: flex;
        .contact__info {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 3.5vh;
            padding: 0 1rem;
            .contact__text {
                font-size: 1.25rem;
                line-height: 1.5;
            }
            .mail {
                text-decoration: none;
                font-size: 1.3rem;
                color: $branco;
                border: 2px dashed $roxo;
                padding: .5rem;
                transition: all .5s ease;
                &:hover {
                    background-color: $roxo;
                    border-style: solid;
                    border-color: $preto;
                    color: $branco;
                }
            }
            .arv__link {
                position: relative;
                text-decoration: none;
                color: $branco;
                padding: .7rem 0 .7rem .7rem;
                display: inline-block;
                transition: all .3s ease;
                font-family: $texto-medium;
                font-size: 1.3rem;
                text-transform: uppercase;
                .efeito__linha {
                    @include efeito-linha;
                    width: 43%;
                    background: $amarelo;
                }
                &:hover {
                    color: $branco;
                    .efeito__linha {
                        width: 100%;
                    }
                }
            }
        }
        .contact__form {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .formulario__contato {
                width: 70%;
                label {
                    display: none;
                }
                input[type=text], input[type=email], textarea {
                    display: block;
                    width: 100%;
                    border: none;
                    border-bottom: 2.5px solid $roxo;
                    background-color: $preto;
                    margin-bottom: 1.3rem;
                    color: $cinza;
                    -webkit-text-fill-color: $cinza;
                    font-family: $texto-regular;
                    font-size: 1.25rem;
                    padding: .5rem 0;
                    outline: none;
                    transition: all .5s ease;
                    &::placeholder {
                        opacity: 1;
                    }
                    &:focus {
                        background-color: $preto;
                        border-color: $amarelo;
                        color: $branco;
                        -webkit-text-fill-color: $branco;
                    }
                }
                textarea {
                    resize: none;
                }
                .buttons__form {
                    display: flex;
                    justify-content: center;
                    gap: 1.3rem;
                    input[type=reset], input[type=submit] {
                        background-color: $roxo;
                        color: $branco;
                        padding: 1rem;
                        border: none;
                        font-size: 1.1rem;
                        width: 8rem;
                        cursor: pointer;
                        border: 3px solid $preto;
                        transition: all .5s ease;
                        text-transform: uppercase;
                        border-radius: 25px;
                        &:hover {
                            background-color: $amarelo;
                            border-color: $preto;
                            color: $preto;
                        }
                        &:active {
                            background-color: $amarelo;
                            color: $preto;
                            border-color: $preto;
                            transition: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .contato {
        height: auto;
        gap: 2rem;
        text-align: center;
        padding: 4rem 1rem 5rem;
        .contact__title {
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }
        .contact__intro__text {
            font-size: 1.2rem;
        }
        .contact__container {
            flex-direction: column;
            gap: 2rem;
            .contact__info {
                gap: 2rem;
                .contact__text {
                    font-size: 1.1rem;
                }
            }
            .contact__form {
                .formulario__contato {
                    width: 100%;
                }
            }
        }
    }
}
