.cabecalho {
    display: flex;
    height: 100vh;
    background: $preto url('../assets/bg.jpg') center / cover no-repeat fixed;
    .left {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15vh;
        background-color: rgba(0, 0, 0, .4);
        padding: 0 4rem;
        position: relative;
        .open__button {
            display: none;
            position: absolute;
            top: 2rem;
            right: 1rem;
        }
        .logo {
            width: 10vw;
        }
        .cabecalho__texto {
            font-family: $texto-thin;
            font-size: 2.9vw;
            color: $branco;
            line-height: 1.2;
            text-shadow: 0 0 8px $preto;
            position: relative;
            animation: textoflutuante 3.5s ease infinite;
        }
    }
    .right {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 8vh;
        background-color: $preto;
        padding-right: 4rem;
        .close__button {
            display: none;
        }
        .menu__principal {
            .menu__principal_lista {
                display: flex;
                flex-direction: column;
                row-gap: .5vh;
                counter-reset: list;
                font-family: $texto-menu;
                .menu__principal_item {
                    counter-increment: list;
                    color: $branco;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    column-gap: 1vw;
                    &::before {
                        content: counter(list) '.';
                        font-size: 3.1vw;
                        color: $roxo;
                        padding: .5rem 0 0;
                    }
                }
                .menu__principal_link {
                    color: $branco;
                    text-decoration: none;
                    font-size: 1.5vw;
                    text-transform: uppercase;
                    position: relative;
                    z-index: 1000;
                    overflow: hidden;
                    transition: all .4s ease;
                    padding: .5rem;
                    .efeito {
                        position: absolute;
                        top: 0;
                        right: -100%;
                        width: 100%;
                        height: 100%;
                        background: $amarelo;
                        z-index: -1;
                        transition: all .5s ease;
                    }
                    &:hover {
                        color: $preto;
                    }
                    &:hover .efeito {
                        right: 0;
                    }
                }
            }
        }
        .social__networks {
            .social__menu {
                display: flex;
                gap: 1.6rem;
                &:hover {
                    .social__menu_link {
                        opacity: .25;
                    }
                }
                .social__menu_link {
                    transition: all .3s ease;
                    &:hover {
                        opacity: 1;
                    }
                    .social {
                        width: 2.1vw;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .cabecalho {
        display: block;
        .left {
            position: relative;
            height: 100vh;
            text-align: center;
            padding: 0 1rem;
            .open__button {
                display: flex;
                flex-direction: column;
                gap: .7rem;
                justify-content: center;
                align-items: center;
                width: 4.5rem;
                height: 4.5rem;
                border: 2px solid $amarelo;
                .open__line {
                    width: 55%;
                    height: 3px;
                    background-color: $branco;
                }
            }
            .logo {
                width: 12rem;
                margin: 0 auto;
            }
            .cabecalho__texto {
                font-size: 2.2rem;
            }
        }
        .right {
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            align-items: center;
            padding: 0;
            width: 100%;
            display: none;
            .close__button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                top: -3.5rem;
                border: 2px solid $amarelo;
                width: 5rem;
                height: 5rem;
                .close__line {
                    width: 60%;
                    height: 3px;
                    background-color: #EE4B2B;
                    position: absolute;
                    &:first-child {
                        transform: rotate(45deg);
                    }
                    &:last-child {
                        transform: rotate(-45deg);
                    }
                }
            }
            .menu__principal {
                .menu__principal_lista {
                    .menu__principal_item {
                        justify-content: center;
                        column-gap: .5rem;
                        &:before {
                            font-size: 3rem;
                        }
                    }
                    .menu__principal_link {
                        font-size: 1.6rem;
                    }
                }
            }
            .social__networks {
                .social__menu {
                    .social__menu_link {
                        .social {
                            width: 2.1rem;
                        }
                    }
                }
            }
        }
        .show {
            display: flex;
            animation-name: slideIn;
            animation-duration: .3s;
            animation-timing-function: ease;
        }
        .hide {
            animation-name: slideOut;
            animation-duration: .3s;
            animation-timing-function: ease;
        }
    }
}
