.intro {
    padding: 8rem 4rem 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    .intro__title {
        font-family: $texto-medium;
        font-size: 3rem;
        position: relative;
        margin-bottom: 2rem;
        &:before {
            @include titulo-understyle;
            background-color: $preto;
        }
    }
    .intro__text {
        font-size: 1.2rem;
        text-align: center;
        line-height: 1.5;
        padding: 0 10%;
    }
    .tree {
        display: inline-block;
        font-size: 2rem;
        align-self: center;
        text-decoration: none;
        color: $preto;
        transition: all .5s ease;
        padding: .7rem 0;
        margin-left: 4rem;
        position: relative;
        &:before {
            content: '@';
            font-size: 3rem;
            color: $roxo;
        }
        .efeito__linha {
            @include efeito-linha;
            width: 34%;
        }
        &:hover {
            .efeito__linha {
                width: 76%;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1600px) {
    .intro {
        .intro__title {
            font-size: 3rem;
        }
        .intro__container {
            .intro__content {
                .intro__text {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        padding: 3rem 1rem;
        gap: 2rem;
        .intro__title {
            font-size: 2.5rem;
        }
        .intro__container {
            flex-direction: column;
            height: auto;
            .intro__image {
                max-width: 100%;
            }
            .intro__content {
                padding: 0;
                margin-top: 3rem;
                gap: 5vh;
                .intro__text {
                    font-size: 1.1rem;
                    text-align: center;
                    padding: 0;
                }
                .tree {
                    align-self: center;
                    margin: 0;
                }
            }
        }
    }
}
