.intro {
    padding: 6rem 4rem 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    .intro__title {
        font-family: $texto-medium;
        font-size: 3rem;
        position: relative;
        margin-bottom: 2rem;
        &:before {
            @include titulo-understyle;
            background-color: $preto;
        }
    }
    .intro__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        .image__cont {
            flex-basis: 40%;
            display: flex;
            justify-content: center;
            .intro__image {
                max-width: 50%;
            }
        }
        .intro__content {
            flex-basis: 60%;
            display: flex;
            flex-direction: column;
            gap: 8vh;
            align-items: center;
            justify-content: center;
            .intro__text {
                font-size: 1.2rem;
                text-align: justify;
                line-height: 1.5;
                padding: 0 4rem;
            }
            .tree {
                display: inline-block;
                font-size: 2rem;
                align-self: self-start;
                text-decoration: none;
                color: $preto;
                transition: all .5s ease;
                padding: .7rem 0;
                margin-left: 4rem;
                position: relative;
                &:before {
                    content: '@';
                    font-size: 3rem;
                    color: $roxo;
                    animation: pisca-pisca 1.6s ease-in-out infinite;
                }
                .efeito__linha {
                    @include efeito-linha;
                    width: 34%;
                }
                &:hover {
                    .efeito__linha {
                        width: 95%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1600px) {
    .intro {
        .intro__title {
            font-size: 3rem;
        }
        .intro__container {
            .intro__content {
                .intro__text {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        padding: 3rem 1rem;
        gap: 2rem;
        .intro__title {
            font-size: 2.5rem;
        }
        .intro__container {
            flex-direction: column;
            height: auto;
            .intro__image {
                max-width: 100%;
            }
            .intro__content {
                padding: 0;
                margin-top: 3rem;
                gap: 5vh;
                .intro__text {
                    font-size: 1.1rem;
                    text-align: center;
                    padding: 0;
                }
                .tree {
                    align-self: center;
                    margin: 0;
                }
            }
        }
    }
}
