.rodape {
    background-color: $preto;
    .copyright {
        color: $branco;
        font-size: 1.25rem;
        line-height: 1.5;
        text-align: center;
        padding: 0 0 3rem;
        .author {
            text-decoration: none;
            color: $branco;
            border-bottom: 2px solid $roxo;
            padding: .3rem 0;
            transition: all .5s ease;
            display: inline-block;
            &:hover {
                background-color: $amarelo;
                color: $preto;
                border-color: $preto;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .rodape {
        .copyright {
            padding: 0 2rem 5rem;
        }
    }
}