.rodape {
    background-color: $preto;
    .copyright {
        color: $branco;
        font-size: 1.25rem;
        line-height: 1.5;
        text-align: center;
        padding: 0 0 4rem;
        .author {
            text-decoration: none;
            color: $branco;
            border-bottom: 2px dashed $cinza-claro;
            padding: 0;
            transition: all .5s ease;
            display: inline-block;
            &:hover {
                border-style: solid;
                border-color: $amarelo;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .rodape {
        .copyright {
            padding: 0 5rem 5rem;
            font-size: 1.1rem;
        }
    }
}
